@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #2196f3;
  --secondary-color: #ff9800;
  --light-color: #f4f4f4;
  --danger-color: #ff5252;
  --success-color: #4caf50;
}

body {
  font-family: 'Roboto', sans-serif;
}

.p-1 {
  padding: 1em;
}

.m-1 {
  margin: 1em;
}

.discussion {
  padding: 0.5em;
}

.btn {
  margin-right: 0.5em;
  margin-top: 0.5rem;
}

.lead {
  font-size: 1.5rem;
}

.fa-thumbs-up,
.fa-thumbs-down {
  color: black;
}

/* Materialize CSS input form colors */

/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

/* Navbar */

/* Landing */
.icon-showcase {
  margin-top: 80px;
}

.land-btn {
  margin: 40px 20px 20px 10px;
}

/* Posts */
.post {
  margin: 1em;
  padding: 1em;
}

.card-image {
  margin-top: 5em;
}

/* Profiles */
.profile-img {
  margin-top: 3em;
  width: 100px;
}

.skills {
  margin-top: 2em;
}

.skills-container {
  margin-bottom: 1em;
}

.info-container {
  margin-bottom: 1em;
}

/* Profile-form */
.input-field .social {
  color: #2196f3;
}

/* Alerts */
.alert-danger {
  background: var(--danger-color) !important;
  color: #fff !important;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}
