@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #2196f3;
  --secondary-color: #ff9800;
  --light-color: #f4f4f4;
  --danger-color: #ff5252;
  --success-color: #4caf50;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border: #333 solid 1px;
}

.secondary-badge {
  color: #fff;
  background: var(--secondary-color);
}

.primary-badge {
  color: #fff;
  background: var(--primary-color);
}

.secondary-badge {
  color: #fff;
  background: var(--secondary-color);
}

a {
  text-decoration: none;
  color: #212121;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.p-1 {
  padding: 1em;
}

.m-1 {
  margin: 1em;
}

.m-2-top {
  margin-top: 2em;
}

.discussion {
  padding: 0.5em;
}

.btn {
  margin-right: 0.5em;
  margin-top: 0.5rem;
}

.large {
  font-size: 3rem;
}

.lead {
  font-size: 1.5rem;
}

.fa-thumbs-up,
.fa-thumbs-down {
  color: black;
}

/* Materialize CSS input form colors */

/* label underline focus color */
.input-field input[type='text']:focus,
.input-field input[type='email']:focus,
.input-field input[type='checkbox']:focus,
.input-field input[type='date']:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

/* Navbar */

/* Landing */
.icon-showcase {
  margin-top: 80px;
}

.land-btn {
  margin: 40px 20px 20px 10px;
}

/* Posts */
.post {
  margin: 1em;
  padding: 1em;
}

.card-image {
  margin-top: 5em;
}

/* Profiles */
.profiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.profile-img {
  margin-top: 3em;
  width: 100px;
}

.skill {
  margin: 0.5em;
}

.skills {
  margin-top: 2em;
}

.skills-container {
  margin-bottom: 1em;
}

.info-container {
  margin-bottom: 1em;
}

/* Profile-form */
.input-field .social {
  color: #2196f3;
}

/* Alerts */
.alert-danger {
  background: var(--danger-color) !important;
  color: #fff !important;
}

.alert-success {
  background: var(--success-color) !important;
  color: #fff !important;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

/* Dashboard */
.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/*!!!! Profile Page !!!!*/

/* Profile Top */
.back-btn {
  margin-top: 3em;
}

.edit-btn {
  margin-top: 1em;
  margin-bottom: 2em;
}

.profile-top {
  background: var(--secondary-color);
  color: var(--light-color);
}

.social-icon {
  margin: 1em;
  color: var(--light-color);
}

/* Profile About */
.card-panel .skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-about {
  background: var(--light-color);
}

/* Profile Education and Experience */
.profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/* Profile Github Repos */
.repo {
  display: flex;
  justify-content: space-between;
}

.repo-title {
  color: var(--primary-color);
}
