@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
}

.p-1 {
  padding: 1em;
}

.m-1 {
  margin: 1em;
}

.discussion {
  padding: 0.5em;
}

.btn {
  margin-right: 0.5em;
  margin-top: 0.5rem;
}

.lead {
  font-size: 1.5rem;
}

.fa-thumbs-up,
.fa-thumbs-down {
  color: black;
}

/* Navbar */

/* Landing */
.icon-showcase {
  margin-top: 80px;
}

.land-btn {
  margin: 40px 20px 20px 10px;
}

/* Footer */
.footer-line {
  border-top: double;
}

.ft-icon {
  margin: 20px;
}

.footer-text {
  margin-top: 20px;
}

/* Posts */
.post {
  margin: 1em;
  padding: 1em;
}

.card-image {
  margin-top: 5em;
}

/* Profiles */
.profile-img {
  margin-top: 3em;
  width: 100px;
}

.skills {
  margin-top: 2em;
}
